header.page-header
  nav.navigation

    .container

      .page-header__left
        if isMainPage
          a.logo
            +svg(88, 24, 'logo')
        else
          a(href="/", tabindex="9").logo
            +svg(88, 24, 'logo')

        .lang
          +button
            span Ru
          span /
          +button
            span En

      ul.navigation_list
        li.navigation_item
          a(href="/").navigation_link.--active Клюшки
        li.navigation_item
          a(href="/").navigation_link Одежда
        li.navigation_item
          a(href="/").navigation_link Аксессуары
        li.navigation_item
          a(href="/").navigation_link Кастомизация
        li.navigation_item
          a(href="/").navigation_link Отследить заказ

      .page-header__right
          +button
            +svg(27, 27, 'search')
          a(href="tel:+79123333333")
            +svg(20, 20, 'phone')
          +button
            +svg(18, 17, 'stats')
          +button
            +svg(26, 26, 'user')
          +button
            +svg(50, 50, 'cart')



