@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-name;
    src: url($path + ".woff") format("woff"),
      url($path + ".woff2") format("woff2");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin items-states($active: 0.3, $hover: 0.6, $focus: 0.6) {
  &:hover {
    opacity: $hover;
  }

  &:focus {
    opacity: $focus;
  }

  &:active {
    opacity: $active;
  }
}

@mixin pseudo($width, $height, $content: "", $repeat: no-repeat) {
  content: $content;
  position: absolute;
  background-repeat: $repeat;
  width: $width;
  height: $height;
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
