.search

  .search__button
    +button('', '--search --svg-fill-none')
      span.visually-hidden Поиск
      +svg(22, 22, 'search')

  .search__input
    +input('Поиск', 'search', '--search', 'search')
