.button {
  &.--user {
    display: none;

    @include desktop {
      display: inline-block;
    }
  }

  &.--burger {
    display: inline-block;

    @include desktop {
      display: none;
    }
  }
}
