.input {
  position: relative;
  width: 100%;

  &__placeholder {
    font-size: rem(18);
    position: absolute;
    top: 0;
    left: 1px;
    transition: 0.3s;
    color: var(--gray);

    &.focused {
      font-size: rem(12);
      top: -16px;
    }
  }

  &__input {
    border: none;
    border-bottom: 1px solid var(--gray);
    outline: none;
    width: 100%;
    padding-bottom: 6px;

    &:hover::placeholder,
    &:focus::placeholder {
      color: var(--black);
    }

    &::placeholder {
      font-size: rem(18);
    }

    &.--search {
      display: none;

      @include desktop {
        display: inline;
      }
    }

    &.--full-width {
      width: 100%;
    }
  }
}
