.title {
  &.--large {
    font-size: rem(30px);
    line-height: 40px;

    @include desktop {
      font-size: rem(40px);
    }
  }

  &.--medium {
    font-size: rem(26px);

    @include desktop {
      font-size: rem(28px);
    }
  }

  &.--small {
    font-size: rem(16px);

    @include desktop {
      font-size: rem(20px);
    }
  }
}
