nav.main-nav
  ul.main-nav__list
    li.main-nav__item
      a(href="/").main-nav__link.--active Страница 1
    li.main-nav__item
      a(href="/").main-nav__link Страница 2
    li.main-nav__item
      a(href="/").main-nav__link Страница 3
    li.main-nav__item.--logo

      include ../shared/logo

    li.main-nav__item
      a(href="/").main-nav__link Страница 4
    li.main-nav__item
      a(href="/").main-nav__link Страница 5
    li.main-nav__item
      a(href="/").main-nav__link Страница 6
