nav.main-nav
  ul.main-nav_list
    li.main-nav_item
      a(href="/").main-nav_link.--active Страница 1
    li.main-nav_item
      a(href="/").main-nav_link Страница 2
    li.main-nav_item
      a(href="/").main-nav_link Страница 3
    li.main-nav_item

      include ../shared/logo

    li.main-nav_item
      a(href="/").main-nav_link Страница 4
    li.main-nav_item
      a(href="/").main-nav_link Страница 5
    li.main-nav_item
      a(href="/").main-nav_link Страница 6
