.cart-form {
  position: relative;

  &__total {
    @include desktop {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      width: 505px;
    }
  }
}
