.cart-form {
  position: relative;

  &__total {
    @include desktop {
      display: none;
    }
  }

  &__login {
    margin-bottom: 30px;
  }

  &__item {
    margin-bottom: 38px;
    width: 100%;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      width: 505px;
    }
  }

  .--half-width {
    @include desktop {
      width: 235px;
    }
  }

  .--ml-auto {
    @include desktop {
      margin-left: auto;
    }
  }
}
