.page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  padding: 20px 0;

  &__burger {
    margin-right: 16px;

    @include desktop {
      margin-right: 0;
    }
  }

  &__heart,
  &__user {
    margin-right: 16px;

    @include desktop {
      margin-right: 22px;
    }
  }
}
