.products-list {
  padding: 0;
  margin-bottom: 24px;

  @include desktop {
    margin-bottom: 0;
  }

  &__item {
    padding: 16px 0;
    border-bottom: 1px solid var(--gray-1);

    &:first-child {
      padding-top: 0;
    }

    @include desktop {
      padding: 25px 34px 25px 0;

      &:last-child {
        border: none;
      }
    }
  }
}
